body {
    background: #fefefe;

    font-family: Sans-Serif;
}

header {

    text-align: center;

    color: #333;
    border-bottom: 0.1em solid #bbb;

    background-image: url(../images/bgnoise_lg.png);
}

header .description {
    color: #888;
}

article {
    margin: 1em;
}

.github-fork {
    position: absolute;

    top: 0;
    right: 0;

    border: 0;
}

.search-form {
    margin: 1em;
}
